body {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    width: 100%;
    height: 6em;
    order: 1;
    color: #F0F8FF;
}

nav {
    background-color: #CCFFFF;
    width: 100%;
    height: 6em;
}

content {
    background-color: rosybrown;
    height: auto;
    padding: 50px 20px 20px 50px;
}

aside {
    background-color: #C9FFE5;
    height: auto;
}

footer {
    background-color: black;
    width: 100%;
    height: 10em;
    color: #F0F8FF;
}